<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5"/>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>

    
    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/ErrorPages/GenericError.aspx">
      <error statusCode="404" redirect="~/ErrorPages/MissingResource.aspx" />
    </customErrors>
   

    <siteMap defaultProvider="DoctorSiteMapProvider">
      <providers>
        <add name="DoctorSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Doctor.sitemap"/>
        <add name="AgencySiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Agency.sitemap"/>
        <add name="ManagerSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Manager.sitemap"/>
      </providers>
    </siteMap>
    <authentication mode="Forms">
      <forms loginUrl="/Public/Login.aspx" defaultUrl="/Home.aspx" timeout="120" slidingExpiration="true" protection="Encryption" name=".ASPXFORMSAUTHSYM"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    
    <machineKey 
      validationKey="4BBC5AC484C8A780801FD18CD824C6D2F6AF48E7AFF170018A2A8D1942AA0A38E9D5A9384B9FA29C7BC693BA20C0949ED3CC2D841CA44A0FE668D4B5A758B2AB"
      decryptionKey="9967B984076CF251C48EF3AB4015FC926B057273646FADC3C8880D156F48538E"
      validation="SHA1" decryption="AES" />
        
    <!-- Custom Membership Provider Configuration -->
    <membership defaultProvider="EmployeeMembershipProvider">
      <providers>
        <clear/>
        <add name="EmployeeMembershipProvider" type="ENetCare.Web.Membership.EmployeeMembershipProvider, ENetCare.Web" passwordFormat="Hashed"/>
      </providers>
    </membership>
  
    <!-- Custom Role Provider Configuration -->
    <roleManager enabled="true" defaultProvider="EmployeeRoleProvider" cacheRolesInCookie="true">
        <providers>
            <clear />
            <add name="EmployeeRoleProvider" type="ENetCare.Web.Membership.EmployeeRoleProvider, ENetCare.Web" connectionStringName="ENetCare" />
        </providers>
    </roleManager>
  </system.web>
  
  <location path="Training.aspx">
        <system.web>
            <authorization>
                <allow roles="Doctor" />
                <deny users="*" />
            </authorization>
        </system.web>
  </location>

  <location path="Package/Register.aspx">
        <system.web>
            <authorization>
                <allow roles="Agent, Doctor" />
                <deny users="*" />
            </authorization>
        </system.web>
  </location>
  <location path="Package/Send.aspx">
        <system.web>
            <authorization>
                <allow roles="Agent, Doctor" />
                <deny users="*" />
            </authorization>
        </system.web>
  </location>
  <location path="Package/ReceivePackage.aspx">
        <system.web>
            <authorization>
                <allow roles="Agent, Doctor" />
                <deny users="*" />
            </authorization>
        </system.web>
  </location>
  <location path="Package/Audit.aspx">
        <system.web>
            <authorization>
                <allow roles="Agent, Doctor" />
                <deny users="*" />
            </authorization>
        </system.web>
  </location>
  <location path="Package/Distribute.aspx">
        <system.web>
            <authorization>
                <allow roles="Doctor" />
                <deny users="*" />
            </authorization>
        </system.web>
  </location>
  <location path="Package/Discard.aspx">
    <system.web>
      <authorization>
        <allow roles="Doctor, Agent" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Report/DistributionCentreLosses.aspx">
        <system.web>
            <authorization>
                <allow roles="Manager" />
                <deny users="*" />
            </authorization>
        </system.web>
  </location>
  <location path="Report/DistributionCentreStock.aspx">
        <system.web>
            <authorization>
                <allow roles="Manager" />
                <deny users="*" />
            </authorization>
        </system.web>
  </location>
  <location path="Report/DoctorActivity.aspx">
        <system.web>
            <authorization>
                <allow roles="Manager" />
                <deny users="*" />
            </authorization>
        </system.web>
  </location>
  <location path="Report/GlobalStock.aspx">
        <system.web>
            <authorization>
                <allow roles="Manager" />
                <deny users="*" />
            </authorization>
        </system.web>
  </location>
  <location path="Report/ValueInTransit.aspx">
        <system.web>
            <authorization>
                <allow roles="Manager" />
                <deny users="*" />
            </authorization>
        </system.web>
  </location>

  <location path="Report/Stocktaking.aspx">
      <system.web>
        <authorization>
          <allow roles="Agent, Doctor, Manager" />
          <deny users="*" />
        </authorization>
    </system.web>
  </location>   
  
      
  <location path="EditEmployee.aspx">
        <system.web>
            <authorization>
                <allow roles="Agent, Doctor, Manager" />
                <deny users="*" />
            </authorization>
        </system.web>
  </location>
  <location path="Home.aspx">
        <system.web>
            <authorization>
                <allow roles="Agent, Doctor, Manager" />
                <deny users="*" />
            </authorization>
        </system.web>
  </location>
  <location path="ChangeEmployeePassword.aspx">
        <system.web>
            <authorization>
                <allow roles="Agent, Doctor, Manager" />
                <deny users="*" />
            </authorization>
        </system.web>
  </location>
  <location path="Logout.aspx">
        <system.web>
            <authorization>
                <allow roles="Agent, Doctor, Manager" />
                <deny users="*" />
            </authorization>
        </system.web>
  </location>
  <location path="About.aspx">
    <system.web>
      <authorization>
        <allow roles="Agent, Doctor, Manager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
   
  <connectionStrings>
    <clear/>
    <add name="ENetCare" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ENetCare;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>