<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5"/>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
    <siteMap defaultProvider="DoctorSiteMapProvider">
      <providers>
        <add name="DoctorSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Doctor.sitemap"/>
        <add name="AgencySiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Agency.sitemap"/>
        <add name="ManagerSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Manager.sitemap"/>
      </providers>
    </siteMap>
    <authentication mode="Forms">
      <forms loginUrl="/Public/Login.aspx" defaultUrl="/Home.aspx" timeout="120" slidingExpiration="true" protection="Encryption" name=".ASPXFORMSAUTHSYM"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!-- Custom Membership Provider Configuration -->
    <membership defaultProvider="EmployeeMembershipProvider">
      <providers>
        <clear/>
        <add name="EmployeeMembershipProvider" type="ENetCare.Web.Membership.EmployeeMembershipProvider, ENetCare.Web"/>
      </providers>
    </membership>
  </system.web>
  <connectionStrings>
    <clear/>
    <add name="ENetCare" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ENetCare;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>